* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --header-height: 100px;

}
html {
    scrollbar-width: thin;
    scrollbar-color: #f6f5efcc transparent;
}

body {
    height: 12rem;
    background-color: rgb(15, 23, 42);
}

header {
    border-bottom: rgba(135, 141, 147, 0.419) solid 1px;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: rgb(41, 41, 41);
    border: none;
    padding: 20px;
    height: 60px;
    border-radius: 30px;
    color: wheat;
    box-shadow:
    1px 1px rgba(255, 255, 255, 0.05) inset;
    position: relative;
}
.button:hover {
    cursor: pointer;
}
h2 {
    color: wheat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
}
h1 {
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hwm-sect {
    height: 12rem;
    width: 400px;
    margin: 2rem auto;
}

.b-sect {
    border-radius: 1rem;
    border: 1px hsla(0,0%,100%,.1) solid;
}

.sect-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(#31325b4a 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #31325b4a calc(100% - 0.5px)), linear-gradient(90deg, #31325b4a 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #31325b4a calc(100% - 0.5px));
    background-size: 20% 25%;
}

.sect-2 {
    background-image: linear-gradient(135deg, #31325b4a 5%, transparent 5%, transparent 50%, #31325b4a 50%, #31325b4a 55%, transparent 55%, transparent);
    background-size: 25px 25px;
}

body::-webkit-scrollbar, .resizable::-webkit-scrollbar {
    width: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

body::-webkit-scrollbar-thumb, .resizable::-webkit-scrollbar-thumb {
    background-color: #f6f5efcc;
}

.resizable {
    resize: horizontal;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
