* {
    box-sizing: border-box;
    --header-height: 12rem;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0rem 0 0rem;
    color: gray;
}
.title {
}
h1 {
    color: black;
    font-size: 3rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
    text-align: center;
    margin-bottom: 20px;
}
header {
    margin-bottom: 2rem;
}
body {
    height: calc(100vh - var(--header-height));
}
.container {
    display: flex;
    flex-direction: row;
}
hr {
    margin-top: 15px;
    height: 1px;
    border: 1px solid grey;
}
p {
    margin-top: 10px;
    font-size: 1.2rem;
}

ul {
    list-style:circle;
}

.main-content {
    width: 70%;
    padding: 2rem;
    padding-left: 0rem;
}
.part-of-ops {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid grey;
    width: 25%;
}
.part-of-ops p {
    font-size: 1rem;
}
.side-content {
    border-radius: 3rem;
    background-color: bisque;
    width: 30%;
    margin: 10px;
    margin-right: 0rem;
    padding: 2rem;
    height: 260px;
}

.exclaim {
    position: absolute;
    right: 10px;
    font-size: 20rem;
    color: rgb(255, 136, 0);
    top: -70px;
}

img {
    float: right;
}
