* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PingFang SC';
}
img {
    height: 70px;
}

.invert {
    filter: invert(100%);
}

.logo {
    background-color: #23272C;
    border-radius: 10px;
    padding: 15px;
}
body {
    background-color: rgb(35, 39, 44);
    color: white;
    overflow-x: hidden;
}

header {
    display: flex;
    padding: 2rem 20rem;
    justify-content: space-between;
    align-items: center;
}


.logos {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.apply {
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.connectbtn {
    background-color: inherit;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 1rem;
    color: white;
}

.flex {
    display: flex;
}

.vid {
    width: 450px;
    height: 300px;
    border-radius: 15px;
    background: linear-gradient(120deg, #EF75B3, #D560D1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.aj-c {
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 70px;
    letter-spacing: 1px;
}

h2 {
    letter-spacing: 2px;
}

h3 {
    color: grey;
    font-size: 30px;
    letter-spacing: 4px;
}

.w-500px {
    width: 500px;
}

.w-20rem {
    width: 20rem;
}

.w-70rem {
    width: 70rem;
}

.landing {
    margin: 5rem 0;
}

a {
    color: white;
    text-decoration: none;
}

.desc-width {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

a:hover {
    color: #EF75B3;
}

button:hover {
    cursor:pointer;
}

.midsection {
    min-height: 370px;
    padding: 4rem 20rem;
}

.bg-dark {
    background-color: rgb(31,33,37);
}

.align-center {
    text-align: center;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.midsection h2 {
    font-size: 30px;
}

.arrow {
    height: 50px;
    width: 50px;
    background-color: rgb(31,33,37);
    transform: rotateY(0) rotate(45deg);
    position: absolute;
    top: -25px;
    left: 48vw;
}

.grid {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 23px;
}

.nova-box .tile-num {
    height: 150px;
}

.grid .nova-box {
    background-color: rgb(31,33,37);
    min-width: 450px;
    height: 300px;
    margin: 23px auto;
    border-radius: 10px;
    padding: 20px;
}

.text p {
    color:#4f5b6a;
    font-weight: 700;
}

.white-bg {
    background-color: white;
    min-height: 600px;
    padding: 100px 50px 100px 50px;
}

.titles {
    display: flex;
    justify-content: space-evenly;
}

.tu-segment {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
}

.tu {
    min-width: 400px;
    margin: 0 auto;
    height: 550px;
}

.crypto-tile {
    min-height: 100px;
    margin: 15px 0;
    box-shadow: 2px 5px 10px rgba(105, 67, 0, 0.111);
    padding: 20px;
}

.tu-title {
    display: flex;
}

.tu-title img {
    height: 35px;
    margin-right: 10px;
}

.viewmore {
    color: black;
    max-width: 900px;
    margin: 0 auto;
    direction: rtl;
}

h4 {
    color:rgba(0, 0, 0, 0.75);
    font-weight: 700;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1660px){
    .midsection {
        padding: 4rem 10rem;
    }
    header {
        padding: 2rem 10rem;
    }
}

@media (max-width: 1410px){
    .midsection {
        padding: 4rem 3rem;
    }
    header {
        padding: 2rem 3rem;
    }
}

@media (max-width: 1200px){
    .midsection {
        width: 100%;
    }
    .midsection p {
        max-width: 90%;
    }
    .midsection .rr {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    header {
        width: 95%;
    }
    .desc-width {
        margin-left: unset;
        margin-right: unset;
    }
}

@media (max-width: 1109px) {
    .grid .nova-box {
        min-width: 350px;
    }
    .tu {
        min-width: 350px;
    }
}

@media (max-width: 833px) {
    .grid {
        flex-direction: column;
        gap: unset;
    }
    .grid .nova-box {
        min-width: 450px;
    }
    .tu-segment {
        flex-direction: column;
    }
}

@media (max-width: 999px){
    h1 {
        font-size: 50px;
    }
    .vid {
        width: 350px;
        height: 200px;
    }
}

@media (max-width: 900px){
    .landing {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
    .landing h1 {
        width: 80%;
        margin: auto;
        margin-bottom: 1rem;
    }
    .landing p {
        margin: auto;
    }
    .logos {
        max-width: 100%;
        flex-wrap: wrap;
    }
    .vid {
        width: 450px;
        height: 250px;
    }
    .arrow {
        left: 46vw;
    }
}

@media (max-width: 575px){
    .grid .nova-box {
        min-width: 350px;
        height: 250px;
    }
    .nova-box .tile-num {
        height: 100px;
    }
}

@media (max-width: 455px){
    .grid .nova-box {
        min-width: 250px;
    }
    .tu {
        min-width: 300px;
    }
}

@media (max-width: 490px){
    .vid {
        width: 360px;
        height: 200px;
    }
    header {
        padding: 2rem 1.5rem;
    }
}
